*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

body{
    position: relative;
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    background-color: aliceblue;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: azure;
}

#gameDisplay{
    height: 70%;
    width: 70%;
    background-color: black;
}

.levels{

}